<h1>DiviBank</h1>

<button type="button" class="btn btn-light btn-lg btn-block"><%= link_to "Create an Account", new_account_url %></button>

<button type="button" class="btn btn-light btn-lg btn-block"><%= link_to "View Accounts", accounts_url %></button>

<button type="button" class="btn btn-light btn-lg btn-block"><%= link_to "Make a transfer", new_transfer_url %></button>

<button type="button" class="btn btn-light btn-lg btn-block"><%= link_to "View Transfers", transfers_url %></button>
